<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto">

    <!-- Permiso para realizar llamadas telefónicas (si en algún punto usas CALL_PHONE) -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:label="proyecto"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <!-- Tu Activity principal (launcher normal) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">

            <!-- Ícono en el launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
        </activity>

        <!-- Metadata de Flutter embedding 2 -->
        <meta-data android:name="flutterEmbedding" android:value="2"/>
    </application>
</manifest>
