<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto">
    
    <!-- PERMISOS EXISTENTES (preservados) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    
    <!-- NUEVOS PERMISOS PARA GASTOS (agregados) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- QUERIES EXISTENTES (preservadas) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="google.navigation" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="waze" />
        </intent>
        <package android:name="com.waze" />
    </queries>

    <application
        android:label="proyecto"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:name="${applicationName}"
        android:enableOnBackInvokedCallback="true">
        
        <!-- GOOGLE MAPS API KEY EXISTENTE (preservada) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCk149s4-HgpUqpO3xQqkzLpG1y2taE1sM"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
        </activity>

        <!-- NUEVO: FileProvider para image_picker (agregado) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- FLUTTER EMBEDDING EXISTENTE (preservado) -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>